<!DOCTYPE html>
<html>
    <head>
        <title>Test Page</title>
    </head>
    <body>
        {{>header}}
        <h2>Welcome</h2>
        {{>footer}}
    </body>
    <script src="app.js"></script>
</html>